
<div class="banner">
  <h1>Your lists</h1>
  <%= link_to "+ New list", lists_new_path, class: "btn-ghost" %>
</div>
<div class='container'>
<div class="add-new">
    </div>
    <div class='cards'>
    <% @lists.each do |list| %>
      <div class='card-list'><%=link_to list.name, list_path(list), class: 'list'%></div>
    <%end%>
    </div>
</div>
