.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;

}
.card-list {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px #e07392;
  margin: 60px 30px;
  flex-shrink: 0;
}
a {
  text-decoration: none;
  color: #e07392;
  &:hover {
    text-decoration: none;
    color: #e62c60;
    font-size: 20px;
  }
}
